*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container{
  display: flex;
}

.minecraft-container{
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(90deg); */
}
.sidebar{
  height: 80vh;
}
.tools{
  height: 40vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tools-item{
  width: 10vh;
  height: 10vh;
  border: solid;
}
.lastMined{
  border: solid;
  width: 50px;
  height: 50px;
  align-self: center;
}
.none{
  background-color: red;
}
/* blocks */
.world-row{
  
}
.sky{
  background-color: #76A8FF;
  width: 5vh;
  height: 5vh;
}
.sky:hover{
  border: orangered 1px solid;
  box-sizing: border-box;
}
.block{
  width: 5vh;
  height: 5vh;
  box-sizing: border-box;
  /* transform: rotate(-90deg); */
}
.block:hover{
  border: orangered 1px solid;
}
.grass{
  background: url('./images/Grass_Block_\(side_texture\)_JE2_BE2.webp') center center/cover;
}
.dirt{
  background: url('./images/266df7ab6322509273a9cddeeee5a3e7.jpg') center center/cover;
}
.stone{
  background: url('./images/e9904cdb30314092a60f1ec18711bbbf.jpg') center center/cover;
}
.wood{
  background: url('./images/Oak_Log_\(texture\)_JE4_BE2.webp') center center/cover;
}
.leaves{
  background: url('./images/leaves.jpg') center center/cover;
}