
.main-container{
  display: flex;
}

.minecraft-container{
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
.sidebar{
  height: 80vh;
}
.tools{
  height: 40vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tools-item{
  width: 10vh;
  height: 10vh;
  border: solid;
}

/* blocks */
.world-row{
  
}
.sky{
  background-color: #76A8FF;
  width: 5vh;
  height: 5vh;
}
.sky:hover{
  border: orangered 1px solid;
  box-sizing: border-box;
}
.block{
  width: 5vh;
  height: 5vh;
}
.block:hover{
  box-sizing: border-box;
  border: orangered 1px solid;
}
.dirt{
  background: url('./images/266df7ab6322509273a9cddeeee5a3e7.jpg') no-repeat center center/cover;
}
.stone{
  color: gray;
}